<section class="index_holder">
<div class="container-fluid" style="height: 100vh">
	<div class="row h-100">
		<div class="col-sm-6 d-flex align-items-center" style="position: relative">
			<div class="mx-auto w-75" style="position: relative">
				<div class="index_line" style="left: 0px; bottom: 0px;"></div>
				<div class="index_line" style="right: 0px; top: 0px;"></div>
				<%= image_tag 'index/team.png', class: "img-fluid" %>
			</div>
		</div>
    <div class="col-sm-5 d-flex align-items-center" style="position: relative">
			<div>
				<div class="index_slogan_ch">
					台北冷氣專家
				</div>
				<div>
					<div class="index_slogan_en">THE TAIPEI</div>
					<div class="index_slogan_en">AIR CONDITIONING</div>
					<div class="index_slogan_en">EXPERTS</div>
				</div>
				<%= image_tag 'index/pattern.png', class: "img-fluid" %>
				<div>
					<span class="index_sub_desc">日式施作</span>|
					<span class="index_sub_desc">一絲不苟</span>|
					<span class="index_sub_desc">精益求精</span>
				</div>
				<div>
					<span class="index_sub_num font-italic">30</span>年口碑
				</div>
				<div style="height: 50px;">
				<a href="/main/about" class="text-center index_enter mx-auto">
					關於我們
				</a>
				</div>
    	</div>
		</div>
	</div>
</div>
</section>
