<section class="footer">
<div class="container text-left">
	<div class="row" style="padding-top: 50px;">
		<div class="col-sm-4">
			<div class="" style="border-left: 1px solid #ffffff; padding-left: 12px;">
				<div style="letter-spacing: 3px;">台北本店</div>
				<div class="footer_item">
					<div class="footer_title">地址</div><div class="footer_content footer_content_left">台北市南昌路一段52號</div>
				</div>
				<div class="footer_item">
					<div class="footer_title">電話</div><div class="footer_content footer_content_left"><a href="tel:0223960609">02-23960609</a></div>
				</div>
				<div class="footer_item">
					<div class="footer_title">傳真</div><div class="footer_content footer_content_left"><a href="tel:0223952532">02-23952532</a></div>
				</div>
				<div class="footer_item">
					<div class="footer_title" style="letter-spacing: 0px;">Email</div><div class="footer_content">fece05193580@yahoo.com.tw</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4" style="margin-top: 20px;">
			<div class="" style="border-left: 1px solid #ffffff; padding-left: 12px;">
				<div style="letter-spacing: 3px;">松山支店</div>
				<div class="footer_item">
					<div class="footer_title">地址</div><div class="footer_content">台北市松山路478號</div>
				</div>
				<div class="footer_item">
					<div class="footer_title">電話</div><div class="footer_content"><a href="tel:0287807979">02-87807979</a></div>
				</div>
				<div class="footer_item">
					<div class="footer_title">傳真</div><div class="footer_content"><a href="tel:0227226596">02-27226596</a></div>
				</div>
			</div>
		</div>
		<div class="col-sm-3 d-flex align-items-center" style="margin-top: 20px;">
			<div class="">
				<a href="https://www.facebook.com/FEC-%E5%8F%B0%E5%8C%97%E5%86%B7%E6%B0%A3%E7%A9%BA%E8%AA%BF%E5%B0%88%E5%AE%B6-625059827599417/?ref=bookmarks"><%= image_tag 'facebook.png', class: "footer_img" %></a>
				<a href="https://www.google.com/maps/place/%E5%AF%8C%E6%AF%85%E9%9B%BB%E5%99%A8%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@25.0314691,121.5147124,17z/data=!3m1!4b1!4m5!3m4!1s0x3442a998d8417b0d:0x60d490dc9f4d06c5!8m2!3d25.0314691!4d121.5169011?authuser=0"><%= image_tag 'google.png', class: "footer_img" %></a>
			</div>
		</div>
	</div>
	<div class="row text-center" style="margin-top: 30px;">
		<div class="col-sm-12">
			<div class="footer_copyright">Copyright © 富毅電器 版權所有 Powered by <a href="http://www.chi-lin.com/">从人</a> x <a href="http://kawatodesign.com.tw/">川人</a></div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-12">
			<div class="footer_copyright"><div>Icons made by <a href="https://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></div>
		</div>
	</div>
</div>
</section>
